{% extends 'base.html' %}

{% block title %}
Product list
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid py-2">
        <div class="container">
            <h1 class="display-4">Product list</h1>
        </div>
    </div>
    <div class="container-fluid">
         {% for p in products  %}
        <div class="card" style="width: 18rem;">
        <img src={{ p.image_url }} class="card-img-top">
        <div class="card-body">
            <div class="card-title">
                <div  class="row">
                    <div class="col-md-6">
                       <b> {{ p.name }} </b>
                    </div>
                    <div class="col-md-6">
                        <b>฿ {{ p.price }} THB </b>
                    </div>
                </div>
            </div>
            <p class="card-text">{{ p.stock }} item in stock.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock  %}